{% extends 'base.html' %}
{% load static %}


{% block title %}{{ page_title }}{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}

{% block additional_head %}

<style>
/* Add this to your existing CSS file or style section */

.horizontal-gallery {
    display: flex;
    margin-top: 10px;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.thumbnail {
    width: 100px; /* Set your preferred width */
    margin-right: 5px;
    cursor: pointer;
}

.thumbnail:hover {
    border: 2px solid #007bff; /* Set your preferred border color */
}




</style>

    <!-- Include jQuery library -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

     <!-- Include Elevate Zoom script -->
     <script src="{% static 'assets/js/jquery.elevatezoom.js' %}"></script>
     

{% endblock %}




{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="product-image-container">
                <!-- Main Product Image -->
                {% if product.main_image %}
                    <img src="{{ product.main_image.url }}" id="main-image" class="img-fluid" alt="Product Image">
                {% else %}
                    <img src="{% static 'img/no_image.png' %}" id="main-image" class="img-fluid" alt="No Image">
                {% endif %}
            </div>
            <div class="horizontal-gallery mb-4">
                <!-- Product Thumbnails -->
                {% if product.main_image %}
                <img src="{{ product.main_image.url }}" class="thumbnail img-fluid" alt="Thumbnail" onclick="changeImage(this)">
                {% else %}
                <img src="{% static 'img/no_image.png' %}" class="thumbnail img-fluid" alt="Thumbnail" onclick="changeImage(this)">
                {% endif %}
                {% for image in product_images %}
                    <img src="{{ image.image.url }}" class="thumbnail img-fluid" alt="Thumbnail" onclick="changeImage(this)">
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="product-name">{{ product.name }}</h1>
                    <p class="text-muted mb-4">Category: {{ product.category.name }}</p>
                    <p class="product-description">{{ product.short_description }}</p>
                </div>
                <div class="col-md-12">
                    <a href="https://api.whatsapp.com/send?phone=8613714218142&text=Hello%21%20"><button class="btn btn-primary rfq-button">Request for Quotation</button></a>
                    <!-- <button class="btn btn-primary rfq-button">Request for Quotation</button> -->
                    <p></p>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <p class="product-description">{{ product.description | safe }}</p>
        </div>
        <div class="col-md-12">
            <a href="https://api.whatsapp.com/send?phone=8613714218142&text=Hello%21%20"><button class="btn btn-primary rfq-button">Request for Quotation</button></a>
            <!-- <button class="btn btn-primary rfq-button">Request for Quotation</button> -->
            <p></p>
        </div>
    </div>


</div>

<script>
    // JavaScript for Clicking to Change Main Image
    function changeImage(element) {
        var mainImage = document.getElementById('main-image');
        mainImage.src = element.src;
            // Re-initialize Elevate Zoom
            $(mainImage).elevateZoom({
        zoomType: "inner",
        cursor: "crosshair"
    });
        }

        // Initialize Elevate Zoom on page load
        $(document).ready(function () {
            $('#main-image').elevateZoom({
                zoomType: "inner",
                cursor: "crosshair"
            });
        });
        


</script>

{% endblock %}
